pip>=23.2
setuptools>=65.5
wheel>=0.40
tensorflow>=2.20.0
tf-keras>=2.11.0
transformers==4.30.2
streamlit==1.43.1
numpy>=2.3.3
pandas>=2.3.2
scikit-learn>=1.7.2
matplotlib>=3.10.6
nltk>=3.9.1
opencv-python>=4.11.0.86
requests>=2.32.5
